In [13]:
## extract the latest portuguese mortality
import pandas as pd
df_male = pd.read_csv("data/mltper_1x1.txt", delim_whitespace=True, skiprows=1)
df_female = pd.read_csv("data/fltper_1x1.txt", delim_whitespace=True, skiprows=1)

## select only the latest year available, Year == max(Year)

df_male_latest = df_male[df_male['Year'] == df_male['Year'].max()]
df_female_latest = df_female[df_female['Year'] == df_female['Year'].max()]  

## transform qx column to numeric
df_male_latest['qx'] = pd.to_numeric(df_male_latest['qx'], errors='coerce')
df_female_latest['qx'] = pd.to_numeric(df_female_latest['qx'], errors='coerce')

# convert Age = 110+ to 110
df_male_latest.loc[df_male_latest['Age'] == '110+', 'Age'] = 110
df_female_latest.loc[df_female_latest['Age'] == '110+', 'Age'] = 110

df_male_latest['Age'] = pd.to_numeric(df_male_latest['Age'], errors='coerce')
df_female_latest['Age'] = pd.to_numeric(df_female_latest['Age'], errors='coerce')

## save the latest datasets
df_male_latest.to_csv("data/male_mortality_2023.csv", index=False)
df_female_latest.to_csv("data/female_mortality_2023.csv", index=False)

C:\Users\zilef\AppData\Local\Temp\ipykernel_5104\2116826508.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_male_latest['qx'] = pd.to_numeric(df_male_latest['qx'], errors='coerce')
C:\Users\zilef\AppData\Local\Temp\ipykernel_5104\2116826508.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female_latest['qx'] = pd.to_numeric(df_female_latest['qx'], errors='coerce')
C:\Users\zilef\AppData\Local\Temp\ipykernel_5104\2116826508.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_male_latest['Age'] = pd.to_numeric(df_male_latest['Age'], errors='coerce')
C:\Users\zilef\AppData\Local\Temp\ipykernel_5104\2116826508.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_female_latest['Age'] = pd.to_numeric(df_female_latest['Age'], errors='coerce')

In [4]:
df_male_latest.head()

      Year Age       mx       qx    ax      lx   dx     Lx       Tx     ex
9213  2023   0  0.00281  0.00280  0.14  100000  280  99760  7936919  79.37
9214  2023   1  0.00031  0.00031  0.50   99720   31  99705  7837159  78.59
9215  2023   2  0.00023  0.00023  0.50   99690   23  99678  7737454  77.62
9216  2023   3  0.00013  0.00013  0.50   99666   13  99660  7637776  76.63
9217  2023   4  0.00020  0.00020  0.50   99653   19  99643  7538117  75.64

In [11]:
## load the datasets from csv and check the type of qx column
df_male_latest = pd.read_csv("data/male_mortality_2023.csv")
df_male_latest['qx'].dtype      

df_female_latest = pd.read_csv("data/female_mortality_2023.csv")
df_female_latest['qx'].dtype

dtype('float64')